body {
    color: rgb(10, 28, 59);

}
header {
    background: white;
}

li.top-mnu-item a {
    color: #2C2C2C;
    background-color: transparent;
}

ul.top-mnu-list li.top-mnu-item:nth-child(1) {
    margin-right: 300px;
}


ul.top-mnu-list li.top-mnu-item:nth-child(2) {
    margin-top: 2px;
    background-color: black;
}

ul.top-mnu-list li.top-mnu-item:nth-child(3) {
    margin-top: 16px;
    margin-left: 0;
}

li.top-mnu-item {
    display: flex;
    transition-duration: 0.5s;
    float: left;
    margin-top: 17px;
    color:#2C2C2C;
}

ul.burger-list li.top-mnu-item {
  margin-top: -7px;
}


ul.top-mnu-list li ul.dropdown { 
    margin-top: 22px;
}

header .topline-btns {
    width: auto;
    right: 15%;
    padding: 6px 8px;
    color: #2C2C2C;
    background: white;
    margin-right: 60px;
    margin-top: 16px;
    border-radius: 8px;
}

.sidebar-section {
    width: 0;
}

#catalog_pane {
   position: unset;
    right: -10000px;
}


ul.foot-mnu-list {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    background-color: #333333;
}
li.foot-mnu-item a {
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 35px;
}

ul.foot-mnu-list li ul.dropdown li {
  margin-left: -15px;
}

input[type=text] {
    padding: 8px;
    border: 1px solid #c2c7d1;
    border-radius: 3px;
    transition: all .3s ease;
    margin-top: 5px;
    width: 80%;
    color: #0a1c3b;
}

ul.foot-mnu-list li ul.dropdown {
margin-left: -65px;
}

ul.foot-mnu-list li.foot-mnu-item:nth-child(2) {
margin-top: 17px;
}

ul.foot-mnu-list li.foot-mnu-item:nth-child(3) {
  margin-top: 17px;
}

ul.foot-mnu-list li.foot-mnu-item:nth-child(4) {
  margin-top: 17px;
}

ul.foot-mnu-list li.foot-mnu-item:nth-child(5) {
  margin-top: 17px;
}

ul.foot-mnu-list li.foot-mnu-item:nth-child(6) {
  margin-top: 17px;
}

form#fSearch input[type=search]{
  width: 90%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
}

form#fSearch {
  position: fixed;
  width: 200px;
  margin-right: 11px;
  top: 17px;
  z-index: 100;
  left: 140px;
}

     
      
.mine-div { 
  background: center center no-repeat scroll; 
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='5536' viewBox='0 0 1920 5536' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1920 0H0V5536H1920V0Z' fill='black'/%3E%3C/svg%3E");
} 
.frame-group {
  background: center center no-repeat scroll; 
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='5536' viewBox='0 0 1920 5536' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1920 0H0V5536H1920V0Z' fill='white'/%3E%3C/svg%3E");
  top: -32px;
  left: 0px;
  width: 1920px;
  height: 5568px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
 }



 .frame-box {
  left: 20px;
  height: 730px;
  width: 1900px; 
  position: relative;
}


.frame-group1 {
width: 950px; 
height: 730px; 
flex-shrink: 0;
position: relative;
background: center center no-repeat scroll;
}        
        

.lorem-ipsum {
  top: 90px;
  left: 159px;
  width: 633px;
  height: 138px;
  position: relative;
}   


.lorem-ipsum2 {
  top: 148px;
  left: 162px;
  width: 601px;
  height: 138px;
  position: relative;
}

.add-to-cart {
  background-color: red;
  top: 208px;
  left: 152px;
  width: 601px;
  height: 106px;
  position: relative; 
}
 
.text-add-to-cart {
  top: 137px;
  left: 360px;
  width: 183px;
  height: 59px;
  position: relative;  
}

.frame-container {
  bottom: 730px;
  left: 950px;
  width: 950px; 
  height: 730px; 
  flex-shrink: 0;
  position: relative;
}

.frame-frame {
  bottom: 1500px;
  left: 1171px;
  width: 547px;
  height: 789px;
  position: relative;
}

.frame-box22 {
  top: 0px;
  left: 20px;
  width: 1900px;
  height: 550px;
  flex-shrink: 0;
  position: relative;
}

.lorem-ipsum3 {
  left: 972px;
  top: 97px;
  line-height: 42px; /* 131.25% */
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  width: 781px;
  height: 126px;
  flex-shrink: 0;
  letter-spacing: 2.5px;
  position: relative;
}

.add-to-cart2 {
  border-radius: 6px;
  background: #FD011B;
  box-shadow: 4px 4px 12px 0px #983A43;
  top: 138px;
  left: 972px;
  width: 608px;
  height: 106px;
  flex-shrink: 0;
  position: relative;
}

.frame-box3 { 
  top: 0px;
  left: 20px;
  width: 1900px;
  height: 738px;
  position: relative; 
}

.frame-container2 {
  top: 57px;
  left: 158px;
  width: 1712px;
  height: 591px;
  position: relative; 
}

.frame-frame2 {
  width: 591px;
  left: 0px;
  position: relative;
}

.frame-frame3 {
  bottom: 580px;
  width: 591px;
  left: 562px;
  position: relative;
}

.frame-frame4 {
  bottom: 1160px;
  width: 591px;
  left: 1131px;
  position: relative;
}

.frame-box4 {
  top: 0px;
  left: 20px;
  width: 1900px;
  position: relative; 
}

.about-us {
  bottom: 730px;  
  position: relative;
}

.frame-box5 {
  left: 20px;
  width: 1900px;
  height: 865px;
  bottom: 575px;
  position: relative;
}

.popular-items {
  bottom: 860px;
  left: 817px;
  position: relative;
}

.picture1 {
  bottom: 735px;
  left: 159px;
  position: relative;
}

.picture2 {
  bottom: 1237px;
  left: 567px;
  position: relative;
}

.picture3 {
  bottom: 1739px;
  left: 975px;
  position: relative;
}

.picture4 {
  bottom: 2255px;
  left: 1383px;
  position: relative;
}